* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

:root {
    color-verde: #009c6c;
    color-azul: #00a3c0;
    color-dark: #182830;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient( 210deg, #00a3c0, #182830, #182830);
}

    nav {
        margin-top: 4%;
    }

    ul {
        padding: 0px;
        display: flex;
    }

    li {
        margin: 2%;
        list-style: none;
    }

    a {
        font-size: 20px;
        color: white;
        padding: 10px;
        border-radius: 25px;
        text-decoration: none;
        box-shadow: 10px 7px 5px 1px #275a74;
        background-color: #182830;
        font-family: 'Montserrat', sans-serif;
    }

    h1 {
        margin: 6%;
        margin-top: 40%;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
    }

    span {
        color: #00a3c0;
        font-size: 35px;
        font-family: 'Press Start 2P', cursive;
    }

    .span1 {
        font-size: 17px;
        font-weight: 900;
        color: #be0000;
        font-family: 'Quicksand', sans-serif;
    }

    .span2 {
        font-size: 17px;
        color: #2847f3;
        font-weight: 900;
        font-family: 'Quicksand', sans-serif;
    }

    .span3 {
        font-size: 17px;
        color: #fffb00;
        font-family: 'Courier New', Courier, monospace;
    }

    .span4 {
        color: #fff;
        font-size: 45px;
        font-family: 'Montserrat', sans-serif;
}

    p {
        margin: 5%;
        padding: 5%;
        color: #fff;
        margin-top: 10%;
        border-radius: 25px;
        border: #00a3c0 solid 3px ;
        font-family: 'Quicksand', sans-serif;
    }

    button {
        margin: 5%;
        width: 90%;
        padding: 3%;
        color: black;
        font-size: 18px;
        margin-top: 20%;
        border-radius: 25px;
        background-color: #00a3c0;
        border: 3px solid #00a3c0;
        font-family: 'Quicksand', sans-serif;
    }
